/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.card {
  width: 18rem;
  display: inline-block;
  padding: 10px;
  color: #000000;
}
.btn-green {
  background-color: #2c7929;
  color: white;
  font-weight: bold;
}
#app {
  background-color: #2c7929;
  color: #ffffff;
}
.album {
  background-color: #2c7929;
}
.album h3 {
  text-align: center;
  padding:15px;
}
